body{
font-family: 'Open Sans', sans-serif !important;
background: #eaeef1 !important;
}

.lc{
background: #003366 !important;
}

#sideNav{
width: 280px !important;
height: 550px !important;
background: #003366 !important;
}

#sideNav li.active{
border-left: 3px solid #ff9c00 !important;
}

#sideNav li.active a{
color: #ff9c00 !important;
}

#sideNav li a{
color: #ffffff !important;
font-size: 12px !important;
}

#sideNav.cnav{
display: none !important;
}

.main{
max-width: 1070px !important;
}

.cntBox{
width: 330px !important;
height: 250px;
background: #ffffff !important;
box-shadow: 0px 0px 18px #dadada !important;
margin: 15px !important;
padding: 15px !important;
border-radius: 5px !important;
}

.cntBox img{
width: 100% !important;
height: 60% !important;
margin-top: 15px !important;
}

.cntBox .title{
color: #5F7E9C !important;
font-size: 12px !important;
font-weight: 600 !important;
margin: 10px !important;
}

.cntBox .dropdown-toggle::after{
display: none !important;
}

.cntBox .dropdown-toggle{
display: flex !important;
justify-content: center !important;
align-items: center !important;
width: 20px !important;
height: 20px !important;
padding: 0px !important;
border: 1px solid #5F7E9C !important;
border-radius: 100% !important;
box-shadow: none !important;
color: #5F7E9C !important;
}

.cntBox a.dropdown-item{
font-size: 12px !important;
color: #003366 !important;
}

.cntBox a.dropdown-item:hover{
background: #C8D5E1 !important;
}

.modal .btn-close{
background: none !important;
}

.modal-header{
background: #003366 !important;
color: #ffffff !important;
border-radius: 15px 15px 0px 0px !important;
}

.modal-content{
border: none !important;
border-radius: 15px !important;
}

.modal .btn-close:focus{
box-shadow: none !important;
}

.cD{
display: flex !important;
justify-content: center !important;
align-items: center !important;
background: #003366 !important;
width: 20px !important;
height: 20px !important;
padding: 0px !important;
border-radius: 100% !important;
border: none !important;
box-shadow: none !important;
}

.cD::after{
display: none !important;
}

.modal table tr:nth-child(even),
.tt tr:nth-child(even){
background: #EAEEF1 !important;
}

.modal table tbody tr:hover,
.tt tbody tr:hover{
background: #B3C7D9 !important;
}

.modal thead,
.tt thead{
background: #003366 !important;
color: white !important;
font-size: 12px !important;
}

.modal thead th,
.tt thead th{
font-weight: 400 !important;
}

input.form-control:focus{
box-shadow: 0px 0px 10px lightseagreen !important;
border: 1px solid lightseagreen !important;
}

select.custom-select:focus{
box-shadow: 0px 0px 10px lightseagreen !important;
border: 1px solid lightseagreen !important;
}

.modal table td,
.tt td{
font-size: 12px !important;
color: #364E65 !important;
border: none !important;
}

.modal table a.dropdown-item,
.tt a.dropdown-item{
font-size: 12px !important;
color: #003366 !important;
}

.modal table a.dropdown-item:hover,
.tt a.dropdown-item:hover{
background: #C8D5E1 !important;
}

.dataTables_paginate .page-item .page-link{
font-size: 12px !important;
}

.dataTables_paginate .page-item.active .page-link{
background: #FF9210 !important;
border-color: #FF9210 !important;
}

.dataTables_info{
font-size: 12px !important;
}

.form-control,
.form-label,
.form-select{
font-size: 14px !important;
color: #000000 !important;
}

.form-select:focus{
box-shadow: 0px 0px 10px lightseagreen !important;
border: 1px solid lightseagreen !important;
}

.nav-tabs .nav-link{
margin-right: -1px !important;
border-bottom: none !important;
border-left: 1px solid #B3C7D9 !important;
border-right: 1px solid #B3C7D9 !important;
border-top: 1px solid #B3C7D9 !important;
border-radius: 0px !important;
color: #B3C7D9 !important;
padding: 5px 30px !important;
}

.nav-tabs .nav-link.active{
border-top: 3px solid #003366 !important;
color: #003366 !important;
}

div.tab-content{
border-color: #B3C7D9 !important;
}

.wData{
padding: 15px !important;
width: 70% !important;
margin-right: 2% !important;
}

.imgBox{
padding: 15px !important;
border-top-right-radius: 15px !important;
border-bottom-right-radius: 15px !important;
width: 28% !important;
}

.text-pink{
color: #E91E63 !important;
}

div#DataTables_Table_0_filter{
display: flex !important;
justify-content: flex-end !important;
}

div#DataTables_Table_0_length{
display: flex !important;
justify-content: flex-start !important;
}

div#DataTables_Table_0_filter label,
div#DataTables_Table_0_length label{
display: inline-flex !important;
align-items: center !important;
margin-bottom: 10px !important;
font-size: 12px !important;
}

div#DataTables_Table_0_filter label .form-control{
margin-left: 10px !important;
}

div#DataTables_Table_0_length label .form-control{
margin-left: 10px !important;
margin-right: 10px !important;
}

div#DataTables_Table_0_paginate .pagination{
justify-content: flex-end !important;
}

.loginPage{
background: #ffffff !important;
}

.loginPage form{
width: 90% !important;
max-width: 320px !important;
}

.loginPage .pTitle{
color: #313131 !important;
line-height: 1.2em !important;
font-size: 43px !important;
}

.loginPage .pStitle{
color: #003366 !important;
line-height: 1.2em !important;
font-size: 50px !important;
}

.loginPage .rft{
font-size: 28px !important;
color: #45627E !important;
line-height: 1.2em !important;
text-align: center !important;
}

.loginPage h3{
font-size: 18px !important;
color: #45627E !important;
line-height: 1.2em !important;
font-weight: 700 !important;
}

.loginPage input.form-control,
.loginPage .form-select{
border-top: none !important;
border-left: none !important;
border-right: none !important;
border-radius: 0px !important;
}

.loginPage input.form-control:focus,
.loginPage .form-select:focus{
box-shadow: none !important;
}

.loginPage .form-control,
.loginPage .form-label,
.loginPage .form-select,
.loginPage form a{
font-size: 14px !important;
color: #45627E !important;
}

.loginPage .user{
background: url("../images/user.png") !important;
}

.loginPage .key{
background: url("../images/key.png") !important;
}

.loginPage .mail{
background: url("../images/mail.png") !important;
}

.loginPage .security{
background: url("../images/padlock.png") !important;
}

.loginPage .mail,
.loginPage .key,
.loginPage .user,
.loginPage .security{
background-position: center right !important;
background-size: 16px !important;
background-repeat: no-repeat !important;
}

.loginPage .btn-login{
background: #003366 !important;
color: #ffffff !important;
}

.loginPage .btn-register{
background: #FF9210 !important;
color: #ffffff !important;
}

.loginPage .lFooter{
background: #F5F5F5 !important;
color: #364E65 !important;
font-size: 12px !important;
}

.loginPage .carousel{
max-width: 320px !important;
margin-top: 15% !important;
margin-bottom: 15% !important;
}

.loginPage .carousel-caption{
position: relative !important;
left: 0 !important;
right: 0 !important;
padding-top: 50px !important;
text-align: left !important;
}

.loginPage .carousel-caption h5{
color: #ff9c00 !important;
font-weight: 700 !important;
}

.bg-violet{
background: #003366 !important;
}

.loginPage .carousel-control-prev,
.loginPage .carousel-control-next{
display: none !important;
}

.carousel-indicators .active {
    background-color: #ff9c00;
}
.lcText{
font-size: 12px !important;
color: #364E65 !important;
}

form.fwf{
width: 90%;
max-width: 100% !important;
}

td.criticalTd{
background: #F44336 !important;
color: #ffffff !important;
}

td.okTd{
background: #FF7100 !important;
color: #ffffff !important;
}

td.ggTd{
background: #51A366 !important;
color: #ffffff !important;
}

td.gbTd{
background: #2196F3 !important;
color: #ffffff !important;
}

td.gyTd{
background: #F7D419 !important;
color: #ffffff !important;
}

.blAqua{
border-left: 4px solid #42C0FB !important;
}

.blPink{
border-left: 4px solid #e91e63 !important;
}

.blViolet{
border-left: 4px solid #3f51b5 !important;
}

.blSf{
border-left: 4px solid #589fc1 !important;
}

.blTeal{
border-left: 4px solid #4d9daa !important;
}

.blPurple{
border-left: 4px solid #bf66bf !important;
}

.blWarning{
border-left: 4px solid #d06e00 !important;
}

.btn-white{
box-shadow: none !important;
font-size: 16px !important;
color: #364E65 !important;
}

.dFooter{
background: #F5F5F5 !important;
color: #364E65 !important;
font-size: 12px !important;
}

.sortBtn button{
border: 1px solid #B3C7D9 !important;
border-radius: 0px !important;
box-shadow: none !important;
font-size: 12px !important;
color: #003366 !important;
}

.sortBtn a.dropdown-item {
font-size: 12px !important;
color: #003366 !important;
}

/* media-queries-start-here */

@media (max-width:575.98px){

#sideNav{
display: none !important;
}

#sideNav.cnav{
display: block !important;
}

.loginPage .pTitle{
font-size: 24px !important;
}

.loginPage .pStitle{
font-size: 30px !important;
}

.loginPage .rft{
font-size: 20px !important;
}

}
