{% extends 'base_admin_dashboard.html' %}
{%block content%}
{%load static%}
<style media="screen">
  #experience { color:blue }
</style>
<div class="row">

               <div class="col-12 mt-4">
                 <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                   <li class="nav-item" role="presentation">
                     <button class="nav-link active" id="tp1-tab" data-bs-toggle="tab" data-bs-target="#tp1" type="button" role="tab" aria-controls="tp1" aria-selected="true"><i class="bi bi-shuffle" data-bs-toggle="tooltip" data-bs-placement="top" title="Track"></i></button>
                   </li>
                   <!-- <li class="nav-item" role="presentation">
                     <button class="nav-link" id="tp2-tab" data-bs-toggle="tab" data-bs-target="#tp2" type="button" role="tab" aria-controls="tp2" aria-selected="false"><i class="bi bi-geo-alt" data-bs-toggle="tooltip" data-bs-placement="top" title="Trace"></i></button>
                   </li>
                   <li class="nav-item" role="presentation">
                     <button class="nav-link" id="tp3-tab" data-bs-toggle="tab" data-bs-target="#tp3" type="button" role="tab" aria-controls="tp3" aria-selected="false"><i class="bi bi-search" data-bs-toggle="tooltip" data-bs-placement="top" title="Identification"></i></button>
                   </li> -->
                   <!-- <li class="nav-item" role="presentation">
                     <button class="nav-link" id="tp4-tab" data-bs-toggle="tab" data-bs-target="#tp4" type="button" role="tab" aria-controls="tp4" aria-selected="false"><i class="bi bi-check2-square" data-bs-toggle="tooltip" data-bs-placement="top" title="Verification"></i></button>
                   </li>
                   <li class="nav-item" role="presentation">
                     <button class="nav-link" id="tp5-tab" data-bs-toggle="tab" data-bs-target="#tp5" type="button" role="tab" aria-controls="tp5" aria-selected="false"><i class="bi bi-bell" data-bs-toggle="tooltip" data-bs-placement="top" title="Alerts"></i></button>
                   </li>
                   <li class="nav-item" role="presentation">
                     <button class="nav-link" id="tp6-tab" data-bs-toggle="tab" data-bs-target="#tp6" type="button" role="tab" aria-controls="tp6" aria-selected="false"><i class="bi bi-arrow-repeat" data-bs-toggle="tooltip" data-bs-placement="top" title="Recalls"></i></button>
                   </li>
                   <li class="nav-item" role="presentation">
                     <button class="nav-link" id="tp7-tab" data-bs-toggle="tab" data-bs-target="#tp7" type="button" role="tab" aria-controls="tp7" aria-selected="false"><i class="bi bi-arrow-left-right" data-bs-toggle="tooltip" data-bs-placement="top" title="Counterfeit Report"></i></button>
                   </li>
                   <li class="nav-item" role="presentation">
                     <button class="nav-link" id="tp8-tab" data-bs-toggle="tab" data-bs-target="#tp8" type="button" role="tab" aria-controls="tp8" aria-selected="false"><i class="bi bi-file-earmark-text" data-bs-toggle="tooltip" data-bs-placement="top" title="Smart Contracts"></i></button>
                   </li>
                   <li class="nav-item" role="presentation">
                     <button class="nav-link" id="tp9-tab" data-bs-toggle="tab" data-bs-target="#tp9" type="button" role="tab" aria-controls="tp9" aria-selected="false"><i class="bi bi-flag" data-bs-toggle="tooltip" data-bs-placement="top" title="Flag"></i></button>
                   </li>
                   <li class="nav-item" role="presentation">
                     <button class="nav-link" id="tp10-tab" data-bs-toggle="tab" data-bs-target="#tp10" type="button" role="tab" aria-controls="tp10" aria-selected="false"><i class="bi bi-speedometer2" data-bs-toggle="tooltip" data-bs-placement="top" title="CO2 Emmision"></i></button>
                   </li> -->
                 </ul>
                 <div class="tab-content border bg-white" id="myTabContent">
                   <div class="tab-pane fade show p-3 active overflow-auto" id="tp1" role="tabpanel" aria-labelledby="tp1-tab">
                     <div class="d-flex flex-wrap mb-2">

                     <!-- searchBy-start -->
                     <div class="dropdown me-auto sortBtn">
                         <!-- <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                         Search by
                         </button>
                         <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                           <li><a class="dropdown-item" href="#">Product</a></li>
                           <li><a class="dropdown-item" href="#">Location</a></li>
                           <li><a class="dropdown-item" href="#">Owner</a></li>
                           <li><a class="dropdown-item" href="#">Transaction</a></li>
                         </ul> -->
                     </div>
                     <!-- searchBy-end -->
                     <!-- searchBy-end -->

                     <!-- <button type="button" class="btn btn-white me-2"><i class="bi bi-arrow-repeat" data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh"></i></button>
                     <button type="button" class="btn btn-white me-2"><i class="bi bi-printer" data-bs-toggle="tooltip" data-bs-placement="top" title="Print/PDF"></i></button>
                     <button type="button" class="btn btn-white me-2"><i class="bi bi-file-earmark-excel" data-bs-toggle="tooltip" data-bs-placement="top" title="Export XLS"></i></button>
                     <button type="button" class="btn btn-white"><i class="bi bi-box-arrow-in-down" data-bs-toggle="tooltip" data-bs-placement="top" title="Download"></i></button> -->
                     </div>
                     <form class="form-inline ml-auto" id="frmUsers" name="frmUsers" method="GET" action="/retailer_identification/">
                       <div class="col-md-12 text-center mt-3">
                         <input  class="form-control" type="text" placeholder="Enter Serial No" aria-label="Search" id=""
                             name="retailer_identification" style="width:20%" />
                             </div>
                         <div >
                             <button class="button btn  search-btn" type="submit" id="experience">Submit</button>
                     </form>
                     <table class="table tt" id="identification_table">
                       <thead>
                         <tr>
                           <th width="50px"><input type="checkbox"></th>
                           <th class="d-flex border-0">
                           <div class="dropdown">
                             <button class="btn dropdown-toggle cD" type="button" id="db1" data-bs-toggle="dropdown" aria-expanded="false">
                             <i class="bi bi-three-dots-vertical text-white"></i>
                             </button>
                             <ul class="dropdown-menu" aria-labelledby="db1">
                               <li><a class="dropdown-item" href="#"><i class="bi bi-eye"></i> View Details</a></li>
                               <li><a class="dropdown-item" href="#"><i class="bi bi-printer"></i> Recall</a></li>
                               <li><a class="dropdown-item" href="#"><i class="bi bi-file-earmark-excel"></i> Export</a></li>
                               <li><a class="dropdown-item" href="#"><i class="bi bi-trash"></i> Delete</a></li>
                             </ul>
                           </div><!-- dropdown-end -->
                           </th>
                           <th style="width: 200px;">Unit Serial No</th>
                           <th style="width: 200px;">Product Name</th>
                   <th style="width: 200px;">Entry Point</th>
                   <!-- <th style="width: 200px;">Pallet Serial No</th> -->
                   <!-- <th style="width: 200px;">Case Serial No</th> -->
                   <th style="width: 200px;">Transaction</th>
                   <th style="width: 200px;">Exit Point</th>
                         </tr>
                       </thead>

                       <tbody >
        {%for a in result%}
                         <tr>
                           <td class="p-2"><input type="checkbox"></td>
                           <td class="p-2">
                             <div class="dropdown">
                               <button class="btn dropdown-toggle cD" type="button" id="db1" data-bs-toggle="dropdown" aria-expanded="false">
                               <i class="bi bi-three-dots-vertical text-white"></i>
                               </button>
                               <ul class="dropdown-menu identification-dropdown-menu" aria-labelledby="db1">
                                 <!-- <td><a href="/product_info/{{ a.url|slice:'-3:-1' }}"><span class="glyphicon glyphicon-pencil" >View Data</span></a></td> -->
                                 <!-- <li><a class="dropdown-item" href="#Paracetamol" data-bs-toggle="modal"><i class="bi bi-eye"></i> View Details</a></li> -->
                                 <li value="{{a.disptch.sscc_no}}"><a class="dropdown-item" href="#Paracetamol" data-bs-toggle="modal"><i class="bi bi-eye"></i> View Details</a></li>
                                 <li><a class="dropdown-item" href="#"><i class="bi bi-printer"></i> Recall</a></li>
                                 <li><a class="dropdown-item" href="#"><i class="bi bi-file-earmark-excel"></i> Export</a></li>
                                 <li><a class="dropdown-item" href="#"><i class="bi bi-trash"></i> Delete</a></li>
                               </ul>
                             </div><!-- dropdown-end -->
                           </td>
                           <td class="p-2">{{a.package_unit.package_sn}}</td>
                           <td class="p-2">{{a.disptch.product.product_name}}</td>
                     <td class="p-2">{{a.disptch.consigner}}</td>
                     {%if a.package_pallet.product_disp.order_status == 'InTransit' %}
                    <td class="p-2">Received</td>
                    {%else%}
                    <td class="p-2">{{a.package_pallet.product_disp.order_status}}</td>
                    {%endif%}
                    <td class="p-2">{{a.disptch.consignee}}</td>
                         </tr>

        {%endfor%}
                       </tbody>
                       </div>

                     </table>
                     </div><!--tp1-tabpane-end-->


                   </div><!--tp4-tabpane-end-->

                   <div class="tab-pane fade" id="tp5" role="tabpanel" aria-labelledby="tp5-tab">
                   ....
                   </div><!--tp5-tabpane-end-->

                   <div class="tab-pane fade" id="tp6" role="tabpanel" aria-labelledby="tp6-tab">
                   ....
                   </div><!--tp6-tabpane-end-->

                   <div class="tab-pane fade" id="tp7" role="tabpanel" aria-labelledby="tp7-tab">
                   ....
                   </div><!--tp7-tabpane-end-->

                   <div class="tab-pane fade" id="tp8" role="tabpanel" aria-labelledby="tp8-tab">
                   ....
                   </div><!--tp8-tabpane-end-->

                   <div class="tab-pane fade" id="tp9" role="tabpanel" aria-labelledby="tp9-tab">
                   ....
                   </div><!--tp9-tabpane-end-->

                   <div class="tab-pane fade" id="tp10" role="tabpanel" aria-labelledby="tp10-tab">
                   ....
                   </div><!--tp10-tabpane-end-->

                 </div>
               </div>
               <!--col-end-->

               </div>
               <!--row-end-->

             </div><!-- main-end -->

           <!-- </div><!-- container-fluid-end -->

           <!-- footer-start -->
           <!-- <div class="container-fluid p-3 text-center dFooter">
           Powered By: © AI DIZITAL, Ltd. All rights reserved.
           </div> -->
           <!-- footer-end -->

           <!-- modals-start-here -->

           <!-- modal-1-start -->
           <div class="modal fade" id="Paracetamol" tabindex="-1" aria-labelledby="ParacetamolLabel" aria-hidden="true">
             <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
               <!-- modal-content-start -->
               <div class="modal-content testing">

               </div>

               <!-- modal-content-end -->
             </div>
           </div>
           <!-- modal-1-end -->

           <!-- modals-end-here -->

               <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
               <script src="{%static "assets/js/jquery-slim.js"%}"></script>
               <script src="{%static "assets/js/datatables.min.js"%}"></script>
               <script>
                 $(document).ready( function () {
                 $('.table').DataTable();
                 // $("#identification_table").DataTable();
                 // $("#identification_table").init();
                 // $('#identification_table>tbody').hide();


             } );


             $(".identification-dropdown-menu li").click(function (){
               var $this = $(this);
               var sscc = $this.attr("value");
               console.log({ sscc })
               var identificationData = {{result | safe}}
               var filteredData = identificationData.filter(function(data) {
                 return data.disptch.sscc_no === sscc;
               })
               var selectedSsccData = filteredData[0];
               var temp = `
               <!-- modal-header-start -->




               <div class="modal-header">


                 <button type="button" class="btn-close text-white fs-2 mb-2" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x"></i></button>
               </div>
               <!-- modal-header-end -->

               <!-- modal-body-start -->
               <div class="modal-body">

                 <ul class="nav nav-tabs" id="myTab" role="tablist">

                   <li class="nav-item" role="presentation">
                     <button class="nav-link active" id="mt1-tab" data-bs-toggle="tab" data-bs-target="#mt1" type="button" role="tab" aria-controls="mt1" aria-selected="true">Product Details</button>
                   </li>


                   <li class="nav-item" role="presentation">
                     <button class="nav-link" id="mt3-tab" data-bs-toggle="tab" data-bs-target="#mt3" type="button" role="tab" aria-controls="mt3" aria-selected="false">Entry Point</button>
                   </li>
                   <li class="nav-item" role="presentation">
                     <button class="nav-link" id="mt4-tab" data-bs-toggle="tab" data-bs-target="#mt4" type="button" role="tab" aria-controls="mt4" aria-selected="false">Transaction Details</button>
                   </li>

                   <li class="nav-item" role="presentation">
                     <button class="nav-link" id="mt6-tab" data-bs-toggle="tab" data-bs-target="#mt6" type="button" role="tab" aria-controls="mt6" aria-selected="false">Exit Point</button>
                   </li>

                 </ul>

                 <div class="tab-content" id="myTabContent">

                   <div class="tab-pane fade show active" id="mt1" role="tabpanel" aria-labelledby="mt1-tab">

                     <div class="d-flex flex-wrap mb-2">

                       <button type="button" class="btn btn-white ms-lg-auto me-2"><i class="bi bi-arrow-repeat" data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh"></i></button>
                       <button type="button" class="btn btn-white me-2"><i class="bi bi-printer" data-bs-toggle="tooltip" data-bs-placement="top" title="Print/PDF"></i></button>
                       <button type="button" class="btn btn-white me-2"><i class="bi bi-file-earmark-excel" data-bs-toggle="tooltip" data-bs-placement="top" title="Export XLS"></i></button>
                       <button type="button" class="btn btn-white"><i class="bi bi-box-arrow-in-down" data-bs-toggle="tooltip" data-bs-placement="top" title="Download"></i></button>

                     </div>

                   <div class="row">
                   <div class="col-12 col-lg-5 p-3">
                   <img src="{%static "assets/images/paracetamol.jpg"%}" class="border" width="100%"/>
                   </div>
                   <!--col-end-->

                   <div class="col-12 col-lg-7 p-3" style="overflow-x:auto;">
                     <table class="border" width="100%">
                       <tr>
                         <td class="p-2">Product Name</td>
                         <td class="p-2">: ${selectedSsccData.disptch.product.product_name}</td>
                       </tr>
                       <tr>
                         <td class="p-2">Brand Name</td>
                         <td class="p-2">: ${selectedSsccData.disptch.product.brand_name}</td>
                       </tr>


                       <tr>
                         <td class="p-2">Descriptions</td>
                         <td class="p-2">: ${selectedSsccData.disptch.product.product_description}</td>
                       </tr>
                       <tr>
                         <td class="p-1">Patient Instructions</td>
                         <td class="p-2">: ${selectedSsccData.disptch.product.patient_instruction}</td>
                       </tr>
                       <tr>
                         <td class="p-2">Batch/Lot Number</td>
                         <td class="p-2">: ${selectedSsccData.disptch.product.batch_number}</td>
                       </tr>

                       <tr>
                         <td class="p-1">Strength & Dosage Form</td>
                         <td class="p-2">: ${selectedSsccData.disptch.product.strength}</td>
                       </tr>
                       <tr>
                         <td class="p-2">Ndc</td>
                         <td class="p-2">: ${selectedSsccData.disptch.product.product_ndc}</td>
                       </tr>

                         <tr>
                             <td class="p-2">Mfg Date</td>
                             <td class="p-2">: ${selectedSsccData.disptch.product.mfg_date}</td>
                           </tr>
                           <tr>
                               <td class="p-2">Exp Date</td>
                               <td class="p-2">: ${selectedSsccData.disptch.product.expiry_date}</td>
                             </tr>
                             <tr>
                                 <td class="p-2">Mfg Name</td>
                                 <td class="p-2">: ${selectedSsccData.disptch.product.manufacturer_name}</td>
                               </tr>
                               <tr>
                                   <td class="p-2">Mfg Address</td>
                                   <td class="p-2">: ${selectedSsccData.disptch.sender_location}</td>
                                 </tr>
                                 <tr>
                                     <td class="p-2">Quantity</td>
                                     <td class="p-2">: ${selectedSsccData}</td>
                                   </tr>

                     </table>

                     </div>
                     <!--col-end-->
                   </div>
                   <!--row-end-->

                   </div><!--mt1-tab-pane-end-->



                   <div class="tab-pane fade" id="mt3" role="tabpanel" aria-labelledby="mt3-tab">

                     <div class="d-flex flex-wrap mb-2">

                       <button type="button" class="btn btn-white ms-lg-auto me-2"><i class="bi bi-arrow-repeat" data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh"></i></button>
                       <button type="button" class="btn btn-white me-2"><i class="bi bi-printer" data-bs-toggle="tooltip" data-bs-placement="top" title="Print/PDF"></i></button>
                       <button type="button" class="btn btn-white me-2"><i class="bi bi-file-earmark-excel" data-bs-toggle="tooltip" data-bs-placement="top" title="Export XLS"></i></button>
                       <button type="button" class="btn btn-white"><i class="bi bi-box-arrow-in-down" data-bs-toggle="tooltip" data-bs-placement="top" title="Download"></i></button>

                     </div>

                     <div class="row">
                       <div class="col-12 col-lg-5 p-3">

                       </div>
                       <!--col-end-->

                       <div class="col-12 col-lg-7 p-3" style="overflow-x:auto;">

                         <table class="border" width="100%">

                         <thead>
                         <tr>
                         <th class="ps-2 pt-2">
                           <div class="form-check">
                             <input class="form-check-input" type="checkbox">
                           </div>
                         </th>
                         <th class="p-2">Entry Point</th>
                         <th class="p-2">Orgin Address</th>
                         <th class="p-2">Entry Point GLN</th>
                        <th class="p-2">Time Stamp</th>


                         </tr>
                         </thead>

                         <tbody>
                         <tr>
                         <td class="ps-2 pt-2">
                           <div class="form-check">
                             <input class="form-check-input" type="checkbox">
                           </div>
                         </td>

                         <td class="p-2">${selectedSsccData.disptch.consigner}</td>
                         <td class="p-2">${selectedSsccData.disptch.sender_location}</td>
                         <td class="p-2">${selectedSsccData.disptch.sender_loc_gln}</td>
                         <td class="p-2">${selectedSsccData.location.trans_timestmap}</td>

                         </tr>

                         </tbody>

                         </table>
                         </div>
                         <!--col-end-->
                       </div>
                       <!--row-end-->

                   </div><!--mt3-tab-pane-end-->


                   <div class="tab-pane fade" id="mt4" role="tabpanel" aria-labelledby="mt4-tab">

                     <div class="d-flex flex-wrap mb-2">

                       <button type="button" class="btn btn-white ms-lg-auto me-2"><i class="bi bi-arrow-repeat" data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh"></i></button>
                       <button type="button" class="btn btn-white me-2"><i class="bi bi-printer" data-bs-toggle="tooltip" data-bs-placement="top" title="Print/PDF"></i></button>
                       <button type="button" class="btn btn-white me-2"><i class="bi bi-file-earmark-excel" data-bs-toggle="tooltip" data-bs-placement="top" title="Export XLS"></i></button>
                       <button type="button" class="btn btn-white"><i class="bi bi-box-arrow-in-down" data-bs-toggle="tooltip" data-bs-placement="top" title="Download"></i></button>

                     </div>

                     <div class="row">
                       <div class="col-12 col-lg-5 p-3">
                         <img src="{%static "assets/images/download.png"%}" class="border" width="90%"/>

                       </div>
                       <!--col-end-->

                       <div class="col-12 col-lg-7 p-3" style="overflow-x:auto;">

                         <table class="border" width="100%">

                         <thead>
                         <tr>
                         <th class="ps-2 pt-2">
                           <div class="form-check">
                             <input class="form-check-input" type="checkbox">
                           </div>
                         </th>
                         <th class="p-2">Transaction Status </th>
                         <th class="p-2">Event Time</th>
                         <th class="p-2">Location</th>
                        <th class="p-2">Temperature</th>
                        <th class="p-2">Humidity</th>
                        <th class="p-2">Aisle Location</th>

                         </tr>
                         </thead>

                         <tbody>
                         <tr>
                         <td class="ps-2 pt-2">
                           <div class="form-check">
                             <input class="form-check-input" type="checkbox">
                           </div>
                         </td>
                         <td class="p-2">${selectedSsccData.package_pallet.product_disp.order_status}</td>
                         <td class="p-2">${selectedSsccData.location.trans_timestmap}</td>
                         <td class="p-2">${selectedSsccData.location.current_location}</td>
                         <td class="p-2">${selectedSsccData.location.temperature}</td>
                         <td class="p-2">${selectedSsccData.location.humidity}</td>
                        <td class="p-2">${selectedSsccData}</td>

                         </tr>

                         </tbody>

                         </table>
                         </div>
                         <!--col-end-->
                       </div>
                       <!--row-end-->

                   </div><!--mt4-tab-pane-end-->

                   <div class="tab-pane fade" id="mt6" role="tabpanel" aria-labelledby="mt6-tab">

                     <div class="d-flex flex-wrap mb-2">

                       <button type="button" class="btn btn-white ms-lg-auto me-2"><i class="bi bi-arrow-repeat" data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh"></i></button>
                       <button type="button" class="btn btn-white me-2"><i class="bi bi-printer" data-bs-toggle="tooltip" data-bs-placement="top" title="Print/PDF"></i></button>
                       <button type="button" class="btn btn-white me-2"><i class="bi bi-file-earmark-excel" data-bs-toggle="tooltip" data-bs-placement="top" title="Export XLS"></i></button>
                       <button type="button" class="btn btn-white"><i class="bi bi-box-arrow-in-down" data-bs-toggle="tooltip" data-bs-placement="top" title="Download"></i></button>

                     </div>

                     <div class="row">
                       <div class="col-12 col-lg-5 p-3">

                       </div>
                       <!--col-end-->

                       <div class="col-12 col-lg-7 p-3" style="overflow-x:auto;">

                         <table class="border" width="100%">

                         <thead>
                         <tr>
                         <th class="ps-2 pt-2">
                           <div class="form-check">
                             <input class="form-check-input" type="checkbox">
                           </div>
                         </th>
                         <th class="p-2">Receiver Owner GLN</th>
                         <th class="p-2">Receiver Owner Name</th>

                        <th class="p-2">SSCC No</th>

                         </tr>
                         </thead>

                         <tbody>
                         <tr>
                         <td class="ps-2 pt-2">
                           <div class="form-check">
                             <input class="form-check-input" type="checkbox">
                           </div>
                         </td>
                         <td class="p-2">${selectedSsccData.disptch.dispatch_loc_gln}</td>
                         <td class="p-2">${selectedSsccData.disptch.consignee}</td>

                         <td class="p-2">${selectedSsccData.disptch.sscc_no}</td>


                         </tr>

                         </tbody>

                         </table>
                         </div>
                         <!--col-end-->
                       </div>
                       <!--row-end-->

                   </div><!--mt6-tab-pane-end-->


                 </div>
                 <!--tabs-ends-here-->

               </div>
               <!-- modal-body-end -->
               `;
               $(".testing").html(temp);

             })









                 </script>
               <script src="{%static "assets/js/custom.js"%}"></script>

             </body>


{%endblock%}
