body{
font-family: 'Inter', sans-serif !important;
background: #F4F7FC !important;
}

.lc{
background: #10948B !important;
}

#sideNav{
width: 200px !important;
background: #10948B !important;
}

#sideNav li.active{
border-right: 3px solid #8dffd1 !important;
}

#sideNav li a{
color: #ffffff !important;
font-size: 12px !important;
}

#sideNav.cnav{
display: none !important;
}

.cntBox{
width: 330px !important;
height: 250px;
background: #ffffff !important;
box-shadow: 0px 0px 18px #dadada !important;
margin: 15px !important;
padding: 15px !important;
border-radius: 12px !important;
}

.cntBoxLarge{
width: 690px !important;
height: 250px;
background: #ffffff !important;
box-shadow: 0px 0px 18px #dadada !important;
margin: 15px !important;
padding: 15px !important;
border-radius: 12px !important;
}

.cntBox img,
.cntBoxLarge img{
width: 100% !important;
height: 60% !important;
margin-top: 15px !important;
}

.cntBox .title,
.cntBoxLarge .title{
font-size: 12px !important;
font-weight: 700 !important;
margin: 10px !important;
}

.cntBox .dropdown-toggle::after,
.cntBoxLarge .dropdown-toggle::after{
display: none !important;
}

.cntBox .dropdown-toggle,
.cntBoxLarge .dropdown-toggle{
box-shadow: none !important;
}

.modal .btn-close{
background: none !important;
}

.modal-header{
background: #10948B !important;
color: #ffffff !important;
border-radius: 15px 15px 0px 0px !important;
}

.modal-content{
border: none !important;
border-radius: 15px !important;
}

.modal .btn-close:focus{
box-shadow: none !important;
}

.cD{
display: flex !important;
justify-content: center !important;
align-items: center !important;
background: #0d6efd !important;
width: 20px !important;
height: 20px !important;
padding: 0px !important;
border-radius: 100% !important;
border: none !important;
box-shadow: none !important;
}

.cD::after{
display: none !important;
}

.modal table tr:nth-child(even),
.tt tr:nth-child(even){
background: #10948b23 !important;
}

.modal thead,
.tt thead{
background: #10948B !important;
color: white !important;
font-size: 12px !important;
}

input.form-control:focus{
box-shadow: 0px 0px 10px lightseagreen !important;
border: 1px solid lightseagreen !important;
}

select.custom-select:focus{
box-shadow: 0px 0px 10px lightseagreen !important;
border: 1px solid lightseagreen !important;
}

.modal table td,
.tt td{
font-size: 12px !important;
color: #000000 !important;
border: none !important;
}

.btn-warning,
.btn-info,
.btn-primary{
box-shadow: none !important;
color: #ffffff !important;
}

.btn-white{
box-shadow: none !important;
color: #0d6efd !important;
border: 1px solid #0d6efd !important;
}

.btn-orange{
box-shadow: none !important;
color: #ffffff !important;
background: #F99600 !important;
}

.form-control,
.form-label,
.form-select{
font-size: 14px !important;
color: #000000 !important;
}

.form-select:focus{
box-shadow: 0px 0px 10px lightseagreen !important;
border: 1px solid lightseagreen !important;
}

.nav-tabs .nav-link{
color: #0d6efd !important;
border-radius: 0px !important;
}

.nav-tabs .nav-link.active{
color: #000000 !important;
}

.widget-green,
.widget-orange,
.widget-yellow{
width: 300px !important;
border-radius: 15px !important;
padding: 15px !important;
}

.widget-green{
background: #3DD598 !important;
}

.widget-orange{
background: #FF9446 !important;
}

.widget-yellow{
background: #FFC700 !important;
}

.widget-yellow img,
.widget-orange img,
.widget-green img{
width: 90% !important;
}

.widget-pink{
width: 300px !important;
border-left: 5px solid #E91E63 !important;
background: #ffffff !important;
border-radius: 15px !important;
}

.widget-pink img{
width: 90% !important;
border: 1px solid #E91E63 !important;
border-radius: 100% !important;
}

.wData{
padding: 15px !important;
width: 70% !important;
margin-right: 2% !important;
}

.imgBox{
padding: 15px !important;
border-top-right-radius: 15px !important;
border-bottom-right-radius: 15px !important;
width: 28% !important;
}

.widget-pink:hover .imgBox{
background: #E91E63ed !important;
}

.text-pink{
color: #E91E63 !important;
}

div#DataTables_Table_0_filter{
display: flex !important;
justify-content: flex-end !important;
}

div#DataTables_Table_0_length{
display: flex !important;
justify-content: flex-start !important;
}

div#DataTables_Table_0_filter label,
div#DataTables_Table_0_length label{
display: inline-flex !important;
margin-bottom: 20px !important;
}

div#DataTables_Table_0_filter label .form-control{
margin-left: 10px !important;
}

div#DataTables_Table_0_length label .form-control{
margin-left: 10px !important;
margin-right: 10px !important;
}

div#DataTables_Table_0_paginate .pagination{
justify-content: flex-end !important;
}

/* media-queries-start-here */

@media (max-width:575.98px){

#sideNav{
display: none !important;
}

#sideNav.cnav{
display: block !important;
}

}